/*
 * Main style sheet for dankolban.com
 * Dan Kolbman 2014
 *
 */

@import url("pygment.css");

html, body, .home {
  background: #FFF;
  color: #444;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.4em;

  margin: 0;
  padding: 0;

  height: 100%;
}

#wrapper {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  background: none;
  height: 100%;
}

/* Header and Navigation */
#header-bar {
  background: #542B56;
  line-height: 50px;
}

h1, h2, h3, h4, h5 {
  color: #7A3D7D;
}

#header {
  width: 90%;
  max-width: 750px;
  margin: auto auto;
  padding: 0 25px;
  height: 50px;
}

#header-bar h1, #header-bar h3 {
  margin: 0px;
  float: left;
}
#header-bar h1 a, #header-bar h3 a {
  color: #FFF;
  display: block;
  text-decoration: none;
  padding: 0 10px;
}

#nav {
  float: right;
}

#nav, #nav li {
  font-size: 1.0em;
  display: inline-block;
  list-style-type: none;
  margin: 0;
}

#nav a {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 0px 10px;
}


#nav a:hover {
  background:#4B264D;
}

/* Responsive stuff */
@media all and (max-width: 520px) {
  #header h1 { padding: 0 10px; }
  #header { float: none; width: 100%; padding: 0px; height: 100%; }
  #nav {
    float:none;
    width:100%;
    background: #333;
    padding: 0;
  }
  #nav 
}

#main {
}


#content h1 {
  padding: 10px  0px;
  margin: 0px;
  line-height: 1.0em;
}

#content h2 {
  padding: 10px 5px;
  margin: 0px;
}

#content h3 {
  padding: 0px 5px;
  margin: 0px;
}
h1.entry-title:hover { text-decoration: none; }

.entry-content p {
  padding: 10px;
  margin: 0px;
}

.post-info {
  background: #EEE;
  padding: 10px;
  margin: 0px 10px;
}

.post-info p {
  padding: 0px;
  margin: 0px;
}

#wrapper a {
  text-decoration: none;
  color: #7A3D7D;
}

#wrapper a:hover {
  text-decoration: underline;
  color: #4B264D;
}

/* Wrapping for code blocks */
pre {
  background:#EEE;
  padding: 10px;
  margin: 10px;
  line-height: 1.1em;
  overflow: auto;
}

/* Make sure images fit in the page */
.entry-content img {
 width: 100%;
}

/* Category pages */
.hfeed {
  padding: 0px;
  list-style: none;
}

.hentry {
  padding: 5px;
  margin: 5px 0px;
  background: #EEE;
}

.hentry h4 {
  display: inline;
  padding: 0px;
  margin: 0px;
}

.hentry p {
  display: inline;
  padding: 0px;
  margin: 0px;
}
  

/* Navigation and button stuff */

/*
#nav li:hover, #nav a:hover {
  background: #333;
  color: #DDD;
}
*/

#footer {
  clear: both;
  background: #333;
  height: 15px;
}

